@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@font-face {
    src: url(./teroxia.otf);
    font-family: Teroxia;
}

body {
    background-image: url("./backgroundfilm.png");
    background-size: cover;
}

header {
    box-sizing: border-box;
    background-image: url("./aicity.png");
    background-size: cover;
    height: 35%;
    color: beige;
    display: flex;
}

.city {
    font-family: Teroxia;
    color: rgb(192, 212, 224);
    text-shadow: 0px 0px 10px rgb(206, 173, 173);
}

.headtxt {
    border: red solid;
    
}