body {
    background-image: url("./backgroundfilm.png");
}

header {
    box-sizing: border-box;
    background-color: #FFFDD0;
    text-align: center;
    height: 400px;
    margin: 15px 15px;
    padding-top: 40px;
}

/*div {
    background-color: blue;
    width: 100%;
    height: 300px;
}